@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
/* navbar */

.navbar {
    height: 121px;
    padding: 15px 35px;
}

.social-media {
    justify-content: flex-end;
    display: flex;
}

.social-media ul {
    display: flex;
    list-style: none;
    height: 15px;
}

.social-media ul li {
    margin-right: 16px;
}

.nav-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-menu ul li {
    margin-left: 32px;
}

.nav-menu ul a {
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
    color: black;
}

.nav-menu ul a:hover {
    color: rgb(143, 143, 143);
}

#user {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 19px;
}

#user:hover {
    background-color: rgb(99, 97, 97);
}

#letter {
    background-color: white;
    color: black;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
}

#nav-menu-buttons {
    display: flex;
}

#notification {
    border: none;
    background-color: transparent;
    margin-right: 15px;
}

.text {
    display: flex;
    justify-content: flex-end;
}

.text marquee {
    font-size: 10px;
    justify-content: flex-end;
    color: #808080;
    letter-spacing: -3.5%;
}

.menubutton {
    display: none;
    cursor: pointer;
}


.menu-sidebar {
    background-color: rgb(255, 249, 249);
    display: none;
    flex-direction: column;
    width: 200px;
    padding: 0px;
    position: fixed;
    overflow: scroll;
    z-index: 1000;
    padding: 16px 32px;
    top: 0;
    right: 0;
}

#close-button {
    float: right;
}

.sidenav-menu-items {
    display: flex;
    flex-direction: column;
}

.sidenav-menu-items a {
    text-decoration: none;
    color: black;
    margin: 20px 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;

}

#login-signup {
    background-color: black;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 4px 20px;
    margin-top: 30px;
}

#login-signup:hover {
    background-color: rgb(70, 70, 70);
}

.menu-sidebar.active {
    display: flex;
}

.menu-sidebar.inactive {
    display: none;
}


/* search bar for booking */

.main {
    padding: 20px 60px;
}

.search {
    background-image: url('./Images/red.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 70px;
}

.search-labels button,
.search-labels select {
    border: none;
    background: transparent;
    color: white;
    margin: 0px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;

}

.search-labels button:hover {
    text-decoration: underline;
}

.input-fields {
    display: flex;
    gap: 20px;
    padding: 20px 0px;
}

.location {
    position: relative;

}

.location select {
    padding: 10px 54px;
    border-radius: 15px;
    appearance: none;
    cursor: pointer;
    border: none;
    text-align: start;
    outline: none;
}

.location-icon {
    position: absolute;
    left: 10px;
    top: 14px;
}

.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 14px;
}

.input-fields input {
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

#search-button {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}

.divider {
    background-color: white;
    width: 1px;
    height: 41px;
}

#book-button {
    padding: 10px 60px;
    background-color: transparent;
    border-radius: 15px;
    color: white;
    border: 1px solid white;
}

.download-links {
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

#search-section {
    position: relative;
}

.icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    right: 0;
    padding-right: 0px;
    z-index: 1000;
}

.icons button {
    border: none;
    background: transparent;
    margin-bottom: 10px;
}

#side-icon {
    background-color: white;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 0px;
}

#booking {
    display: none;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    padding: 10px 38px;
    border-radius: 5px;
    margin: 5px;
}


#book-car {
    background-color: #E21E26;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

#quick-book {
    color: #E21E26;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #E21E26;
}

/* banner */
.banner {
    position: relative;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    background-image: url('./Images/banner.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 15px;
    text-align: center;
}

.banner-text {
    width: fit-content;
    margin-top: 120px;
    text-align: left;
}


.banner-text button {
    padding: 6px 20px;
    border-radius: 20px;
    background: #009046;
    color: white;
    border: none;
    outline: none;
}


/* popular cars */
.popular-cars {
    margin: 20px 0px 20px 20px;
    box-sizing: border-box;
    scrollbar-width: none;
    overflow-x: auto;
}

h2 {
    text-align: center;
    margin: 30px 20px;
    font-weight: 400;
    font-size: 34px;
}

.cards {
    display: flex;
}

.car-cards {
    padding: 5px;
    display: flex;
    margin: 10px;

}

.card-content {
    padding: 25px;
    min-width: 300px;
}


.card-content h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;

}

.card-content p {
    font-size: 13px;
}

.features {
    margin-top: 30px;
}

#feature-phone {
    display: none;
}

.booking-part {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.booking-part p {
    font-size: 16px;
    font-weight: 600;
}

.booking-part button {
    padding: 8px 15px;
    background-color: #E21E26;
    color: white;
    border: none;
}

/* subscription */
.subscribe {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}

.phone-para {
    display: none;
}

.subscribe-form,
.link-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.subscribe-form {
    padding: 50px 70px 0px 0px;

}


.subscribe-form h2 {
    font-size: 34px;
    font-weight: 400;
}

.subscribe-form input {
    padding: 10px;
    border: none;
    background-color: #F8F8F8;
    border-radius: 7px;
}

.input-form {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.subscribe-form p {
    font-size: 15px;
    font-weight: 300;
}

.subscribe-form button {
    background-color: #E21E26;
    margin-top: 30px;
    width: 100%;
    border: none;
    padding: 12px;
    color: white;
}

.link-section {
    display: flex;
    background-color: #E21E26;

}

.mobile-img {
    height: 400px;
}

.link-form {
    margin: 50px 40px 20px 10px;
}

.link-form p {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 30px;
}


.link-form input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #F8F8F8;
    margin-top: 10px;
    border-radius: 7px;
}

.link-form button {
    background-color: black;
    color: white;
    padding: 8px 32px 8px 32px;
    margin-top: 20px;
    border: none;
    border-radius: 7px;
}

#play-stores {
    margin-top: 45px;
}

.app-img {
    margin-top: 10px;
}

.phone-input {
    display: none;
}

.link-section-phone {
    display: none;
}

/* rent or lease */
/* row */
.three-steps {
    display: flex;

}

/* card */
.steps h2 {
    color: #E21E26;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.step-content {
    height: 180px;
    width: 350px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    line-height: 18.5px;
    font-family: Arial, Helvetica, sans-serif;
}

.step-content p {
    padding: 20px;
}

/* locations */
.locations {
    padding: 30px 30px;
    margin-top: 40px;
    background-color: black;
    font-family: Open Sans;
    font-weight: 600;
    text-align: left;

}

.locations h2 {
    color: white;
}

.places {
    display: flex;
    color: white;
    margin: 0px 20px;
    padding: 30px 50px;
}

.places img {
    height: 28px;
    width: 22px;
    padding: 5px 15px;
}

.places p {
    padding: 5px 25px 5px 7px;
}

.place-name{
    display: flex;
    box-sizing: border-box;
}


.places .divider {
    background-color: white;
    width: 1px;
    height: 41px;
    margin: 0px 20px;
}

/*  FAQ */
.faq {
    padding: 16px 40px;
}

.question-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    padding: 10px;
}

.question-row button {
    border: none;
    background: transparent;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.answer {
    font-size: 14px;
    font-weight: 400;
    line-height: 24.71px;
    text-align: left;
    display: none;
    overflow: hidden;
    padding: 10px;
}

/* footer */
.footer {
    color: rgb(255, 255, 255);
    background-color: black;
}

.footer-links {

    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.logo-footer {
    width: 102px;
}

.logo-footer img {
    width: 57px;
    height: 66px;
}

.logo-footer p {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;

}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listed-contents {
    display: flex;
    gap: 60px;
}


.listed-contents li {
    margin: 10px;
}

.listed-contents a {
    color: white;
    text-decoration: none;

}

.other ul {
    display: flex;
    gap: 20px;
}

.social-footer {
    display: flex;
    flex-direction: column;
}

.social-media-footer a {
    margin: 5px;
}

#secure-img {
    margin-top: 30px;
}

.footer-legal {
    text-align: center;
}

.footer-phone {
    display: none;
}

@media screen and (min-width: 300px) and (max-width:900px) {
    .navbar {
        height: 80px;
        padding: 15px 30px;
    }

    .social-media {
        display: none;
    }


    .logo img {
        width: 156px;
        height: 24px;
    }

    .nav-menu ul li {
        margin-left: 15px;

    }

    .nav-elements {
        justify-content: space-between;
    }

    .nav-menu {
        margin-bottom: 19px;
    }

    .nav-menu ul {
        display: none;
    }

    .text p {
        height: 15px;
        overflow: hidden;
    }

    #name {
        display: none;
    }

    #letter {
        margin: 0;

    }

    #user {
        background-color: black;
        color: white;
        border: none;
        padding: 5px;
        padding-right: 6px;
    }

    .menubutton {
        display: block;

    }

    #menu-nav{
        border: none;
        background: transparent;
    }
    

    .main {
        padding: 10px 20px;
    }

    .search {
        padding: 30px;
        background-size: cover;
        border-radius: 20px;

    }

    .search-labels {
        display: none;
    }

    .input-fields {
        display: none;
    }

    .download-links {
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        display: block;
    }

    .stores {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .stores img {
        height: 30px;
        width: 100px;
    }

    .icons {
        top: 130px;
    }

    .icons button {
        margin-bottom: 5px;
    }

    #booking {
        display: block;
    }

    #expandBooking {
        display: none;
        margin-bottom: 20px;
    }

    .location {
        width: 92%;
        background: #F6F7F9;

    }

    #location-select {
        padding: 15px 44px;
        width: 100%;
        
    }

    #location-select option {
        background: #F6F7F9;
    }

    .search-button-phone {
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .search-label-phone {
        font-size: 13px;
        font-weight: 500;
        display: flex;
        justify-content: space-evenly;
    }

    .search-label-phone button,
    .search-label-phone select {
        border: none;
        background: transparent;
        margin: 4px;
        text-wrap: nowrap;

    }

    .search-label-phone button:active {
        text-decoration: underline;
    }

    .input-fiels-phone {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-fiels-phone input {
        border: none;
        border-radius: 15px;
        max-width: fit-content;
        background: #F6F7F9;
        outline: none;
        cursor: pointer;
        margin-top: 10px;
        padding: 15px 78px;
    }


    #search-car {
        background-color: #E21E26;
        border: none;
        color: white;
        font-size: 13px;
        font-weight: 600;
        margin-top: 20px;
        padding: 10px 80px;

    }

    /* banner */
    .banner {
        width: 100%;
        height: auto;
        min-height: 216px;
        
    }

    .banner-text {
        font-size: 9.8px;
        font-weight: 400;
        line-height: 14.35px;
        margin-top: 70px;
        margin-left: 30px;
    }

    .banner-text button {
        padding: 3px 10px;
    }

    /* popular cars */
    .popular-cars {
        margin: 16px 0px 16px 16px;
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        margin: 15px 10px;
    }

    .car-cards {
        flex-direction: column;
        min-width: 200px;
        padding: 2px;
    }

    .card-content h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;

    }

    .card-content {
        padding: 10px;
        min-width: 180px;
    }

    .features img {
        height: 17px;
        overflow: hidden;
        width: inherit;
        margin-top: 15px;
    }

    #feature-desktop {
        display: none;
    }

    #feature-phone {
        display: block;
    }

    .booking-part {
        flex-direction: column;
    }

    .booking-part button {
        padding: 9px 6px;
    }

    /* subscription */
    .subscribe {
        flex-direction: column;
        padding-left: 0px;
    }

    .subscribe-form h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

    }

    .subscribe-form p {
        display: none;
    }

    .input-form {
        flex-direction: column;
    }

    .phone-para {
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        text-align: left;
        display: block;
        padding: 5px;
        width: fit-content;
    }

    .subscribe-form button {
        padding: 9px 32px;
        width: fit-content;
        margin: 10px 0px;
    }

    .link-section {
        display: none;
    }

    .link-section-phone {
        display: block;
        background-color: #E21E26;
        padding: 16px 10px;
    }

    .store-img-phone {
        display: flex;
    }

    #mobile-logo {
        height: 245px
    }

    .link-labels-phone {
        margin-top: 20px;
        color: white;
    }

    .link-labels-phone p {
        font-size: 12px;
        font-weight: 500;
        line-height: 15.6px;
        text-align: left;
    }

    .app-img {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .app-img img {
        height: 30px;
    }

    #message-label {
        margin-top: 50px;

    }

    .input-link-phone {
        display: flex;
        flex-direction: column;
    }

    .input-link-phone input {
        padding: 10px;
        border: none;
        background-color: #F8F8F8;
        margin-top: 10px;
        border-radius: 7px;
    }

    .input-link-phone button {
        background-color: black;
        color: white;
        padding: 9px 27px;
        width: 130px;
        margin-top: 20px;
        border: none;
        border-radius: 7px;
    }

    /* rent or lease */
    .three-steps {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .steps {
        margin: 0px;
        padding: 0px;
    }

    .steps h2 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .step-content {
        height: 167px;
        width: 320px;
        margin: 0px;
        font-size: 13px;
        font-weight: 400;
        line-height: 18.5px;
        text-align: center;

    }

    /* locations */
    .locations {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .divider {
        display: none;
    }

    .places {
        display: flex;
        flex-wrap: wrap;
        text-wrap: nowrap;
        margin: 0px;
        padding: 0px;
    }

    .places img {
        height: 17px;
        width: 14px;
        padding: 7px 0px 0px 0px;
    }

    /* FAQ */
    .question-row {
        font-size: 13px;
        font-weight: 500;
        line-height: 15.6px;
        text-align: left;
    }

    .faq {
        padding: 0px;
    }

    .answer {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.66px;
        text-align: left;

    }

    /* footer */
    .footer {
        display: none;
    }

    .footer-phone {
        display: block;
        background-color: #F6F7F9;

        padding: 10px;
    }

    .logo-social {
        display: flex;
        justify-content: space-between;
    }

    .logo-footer-phone {
        display: flex;

    }

    .logo-footer-phone p {
        font-size: 7.77px;
        font-weight: 500;
        line-height: 11.66px;
        text-align: left;
        width: 70px;
        margin-left: 5px;
    }

    .social-media-footer img {
        height: 16px;
        width: 16px;
    }

    .ul-listed-phone {
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
        justify-content: center;
        align-items: center;
    }

    .ul-listed-phone ul {
        display: flex;
        flex-direction: row;
        gap: 20px;

    }

    .ul-listed-phone ul a {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        color: black;
        text-decoration: none;
        gap: 10px;
    }

    .other-content {
        text-align: center;
        background: black;
        color: white;
        font-size: 13px;
        font-weight: 600;
        line-height: 19.5px;
        padding: 10px;
    }

    .other-features {
        padding: 10px 20px;
    }

    .other-features ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-wrap: nowrap;
    }

    .footer-legal-phone {
        font-size: 11px;
        font-weight: 400;
        line-height: 16.5px;
        padding-top: 5px;
    }
}