@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins Static;
}

body {
    padding: 0px 20px;
}

/* navbar */

.navbar {
    font-family: Poppins Static;
   
}

.social-media ul {
    display: flex;
    gap: 16px;
    position: relative;
    padding: 15px 64px 0px 10px;
    margin-left: 1186px;
}

.logo {
    padding: 20px 10px 30px 50px;
}

.nav-elements {
    display: flex;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    padding-left: 180px;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
}

button:hover{
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}

.text {
    font-size: 10px;
    padding-left: 180px;
    font-family: Poppins Static;
}

#user {
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 2px 10px;
    font-size: 13px;
}

/* body */

main{
    padding: 0px 50px;
}

.search {
    background-image: url('./Images/red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* width: 1190px; */
    /* margin: 0px auto; */
    height: 210px;
    position: relative;
}


.location{
    display: flex;
    position: relative;
}

.location-icon {
    position: absolute;
    left: 10px;
    top: 14px;    
}

.location select{
    padding: 10px 54px;
    border-radius: 15px;
    appearance: none;
    cursor: pointer;
    border: none;
}

.dropdown-icon{
    position: absolute;
    right: 10px;
    top: 14px;   
}

.search-labels,
.input-fields {
    padding: 40px;
    position: absolute;

}

.search-labels button {
    border: none;
    background-color: transparent;
    margin: 10px;
    color: rgb(253, 253, 253);
    font-size: 14px;
    font-weight: 400;
}

.input-fields {
    border-radius: 5px;
    display: flex;
    gap: 30px;
    align-items: center;
    position: absolute;
    left: 50px;
    top: 200px;
}

.input-fields input {
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    
}

#vehicle-type{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 15px;
   
}

#search-button {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}

#book-button {
    padding: 10px 60px;
    background-color: transparent;
    border-radius: 15px;
    color: white;
    border: 1px solid white;
}

.download-links p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 320px;
    left: 90px;
}

.stores{
    position: absolute;
    top: 310px;
    left: 520px;
}

.banner{
    position: relative;
    display: inline-block;
}

.banner img{
    width: 100%;
    display: block;
}

.banner-text{
    
    position: absolute;
    top: 60%; 
    left: 40%;
    color: white; 
    font-size: 18px;
    text-align: center;
}

.banner-text button{
    background-color: seagreen;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
}

.slides{
    position: absolute;
    top: 90%;
    left: 45%;
    display: flex;
}

.slides button{
    border:none;
    background: transparent;
    margin: 5px;
}