@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

.navbar {
    height: 121px;
    padding: 15px 35px;
}

.social-media {
    justify-content: flex-end;
    display: flex;
}
.social-media ul {
    display: flex;
    list-style: none;
    height: 15px;
}

.social-media ul li {
    margin-right: 16px;
}

.nav-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-menu ul li{
    margin-left: 32px;
}
.nav-menu ul a {
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
    color: black;
}

.nav-menu ul a:hover {
    color: rgb(143, 143, 143);
}

#user {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 19px;
}

#user:hover {
    background-color: rgb(99, 97, 97);
}

#letter {
    background-color: white;
    color: black;
    border-radius: 50%;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 5px;
}

#nav-menu-buttons {
    display: flex;
}

#notification {
    border: none;
    background-color: transparent;
    margin-right: 15px;
}

.text {
    display: flex;
    justify-content: flex-end;
}

.text marquee {
    font-size: 10px;
    justify-content: flex-end;
    color: #808080;
    letter-spacing: -3.5%;
}

.menubutton{
    display: none;
    cursor: pointer;
}


.menu-sidebar {
    background-color: rgb(255, 249, 249);
    display: none;
    flex-direction: column;
    width: 200px;
    padding: 0px;
    position: fixed;
    overflow: scroll;
    z-index: 1000; 
    padding: 16px 32px;
    top: 0;
    right: 0;
}

#close-button {
    float: right;
}

.sidenav-menu-items {
    display: flex;
    flex-direction: column;
}

.sidenav-menu-items a {
    text-decoration: none;
    color: black;
    margin: 20px 0px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;

}

#login-signup {
    background-color: black;
    color: white;
    border: none;
    border-radius: 16px;
    padding: 4px 20px;
    margin-top: 30px;
}

#login-signup:hover {
    background-color: rgb(70, 70, 70);
}

.menu-sidebar.active {
    display: flex;
}

.menu-sidebar.inactive {
    display: none;
}


/* search bar */

.main{
    padding: 20px 60px;
}

.search{
    background-image: url('/Images/red.svg');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    padding: 30px 70px;
}

.search-labels button,
.search-labels select{
   border: none;
   background: transparent;
   color: white;
   margin: 0px 10px;
   border-radius: 15px;
   font-size: 14px;
   font-weight: 400;

}

.search-labels button:hover{
    text-decoration: underline;
}

.input-fields{
    display: flex;
    gap: 20px;
    padding: 20px 0px;
}

.location{
    position: relative;

}

.location select {
    padding: 10px 54px;
    border-radius: 15px;
    appearance: none;
    cursor: pointer;
    border: none;
    text-align: start;
    outline: none;
}

.location-icon {
    position: absolute;
    left: 10px;
    top: 14px;
}

.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 14px;
}

.input-fields input{
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

#search-button {
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
}

.divider {
    background-color: white;
    width: 1px;
    height: 41px;
}

#book-button {
    padding: 10px 60px;
    background-color: transparent;
    border-radius: 15px;
    color: white;
    border: 1px solid white;
}

.download-links{
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

#search-section{
    position: relative;
}

.icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px; /* Adjust as needed */
    right: 0;
    padding-right: 0px;
  /* Pushes the icons to the right */
    z-index: 1000; /* Keeps icons above other content */
}

.icons button {
    border: none;
    background: transparent;
    margin-bottom: 10px; /* Adds space between icons */
}

#side-icon{
    background-color: white;
    border-radius: 50%;
    padding-top:5px;
    padding-left: 0px;
}

#booking{
    display: none;
}

.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    padding: 10px 38px;
    border-radius: 5px;
    margin: 5px;
}


#book-car{
    background-color: #E21E26;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

#quick-book{
    /* border-color: #E21E26; */
    color: #E21E26;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #E21E26;
}




@media screen and (min-width: 300px) and (max-width:900px) {
    .navbar {
        height: 80px;
        padding: 15px 30px;
    }

    .social-media{
        display: none;
    }


    .logo img {
        width: 156px;
        height: 24px;
    }

    .nav-menu ul li {
        margin-left: 15px;

    }

    .nav-elements{
        justify-content: space-between;
    }

    .nav-menu {
        margin-bottom: 19px;
    }

    .nav-menu ul{
        display: none;
    }

    .text p{
        height: 15px;
        overflow: hidden;
    }

    #name {
        display: none;
    }

    #letter {
        margin: 0;

    }

    #user {
        background-color: black;
        color: white;
        border: none;
        padding: 5px;
        padding-right: 6px;
    }

    .menubutton{
        display: block;
        border: none;
        
    }

    .main{
        padding: 10px 20px;
    }

    .search{
        padding: 30px;
        background-size: cover; 
        border-radius: 20px;
       
    }

    .search-labels{
        display: none;
    }

    .input-fields{
        display: none;
    }

    .download-links{
        font-size: 13px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
        display: block;
    }

    .stores{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .stores img{
        height: 30px;
        width: 100px;
    }

    .icons{
        top: 130px; 
    }

    .icons button{
        margin-bottom: 5px;
    }

    #booking{
        display: block;
    }

    #expandBooking{
        display: none;
    }

    .location{
       width: 100%;
        /* background-color: #465a83; */
        background: #F6F7F9;

    }

    #location-select{
        padding: 10px 54px;
        width: 100%;
    }

    #location-select option{
        background: #F6F7F9;
    }

    .search-button-phone{
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .search-label-phone{
        font-size: 13px;
        font-weight: 500;
        display: flex;
        justify-content: space-evenly;
    }
    
    .search-label-phone button,.search-label-phone select{
        border: none;
        background: transparent;
        margin: 4px;
       text-wrap: nowrap;
    
    }
    
    .search-label-phone button:active{
        text-decoration: underline;
    }
    
    .input-fiels-phone{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .input-fiels-phone input{
        border: none;
        border-radius: 15px;
        max-width: max-content;
        /* background-color: #495774; */
        background: #F6F7F9;
        outline: none;
        cursor: pointer;
        margin-top: 10px;
        padding: 15px 78px;
    }
    
    
    #search-car{
        background-color: #E21E26;
        border: none;
        color: white;
        font-size: 13px;
        font-weight: 600;
        margin-top: 20px;
        padding: 10px 80px;
    
    }
}


